.cardwrapper {
    display: flex;
    justify-content: center;
  }
   /* .card img {
    max-width: 100%;
    max-height: 100%;
  } */
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carouselinner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(400%);
  }
  /* @media (min-width: 1008px) { */
    .card img {
      height: 20em;
    }
  /* }  */